Define a "box" array

The axis-aligned rectangle is pretty fundamental to geospatial operations. I think it makes sense to define a GeoArrow type for this. Then e.g. duckdb can include GeoArrow metadata on its BOX_2D column.

Should there be both a separated (struct) and an interleaved (fixed size list) definition of this? Should we have both for symmetry with the other geometry types? Or for symmetry with GeoParquet should we only have a struct variant?

I'd be open to only having a struct implementation because the spec is already rather large.

Should the geoarrow extension name be `geoarrow.box`?

> For two-dimensional data, the child fields MUST be named xmin, ymin, xmax, and ymax and MUST be ordered in this same way. As with the top-level [bbox](https://github.com/opengeospatial/geoparquet/blob/main/format-specs/geoparquet.md#bbox) column, the values follow the GeoJSON specification (RFC 7946, section 5), which also describes how to represent the bbox for geometries that cross the antimeridian. For three dimensions the additional fields zmin and zmax MAY be present but are not required. If zmin is present then zmax MUST be present and vice versa. If zmin and zmax are present, the ordering of the child fields MUST be xmin, ymin, zmin, xmax, ymax, zmax.

It seems that we can use the same language as the GeoParquet spec.

> The fields MUST be of Parquet type FLOAT or DOUBLE

Right now GeoArrow coordinates are only allowed to be double. I'd be supportive of only allowing double for this type as well (I don't want to add another type parameter in geoarrow-rs for f32)



> Should there be both a separated (struct) and an interleaved (fixed size list) definition of this?

I don't think so...we already have a lot of types and there aren't existing opportunities for zero-copy (or perhaps there isn't the same payoff even if it would be zero copy in some places) in the same way as for coordinate data. I am not keen to implement this in more than one way unless there is some solid evidence of payoff.

> Should the geoarrow extension name be geoarrow.box?

I like this! In wk I named it a "rct", which is a bit disingenuous because in greater than two dimensions it's not really a rectangle anymore. DuckDB spatial calls this a BOX_2D so there's precedent.

> It seems that we can use the same language as the GeoParquet spec.

Definitely! We have to add M in too but I think it's straightforward how it would follow the perscribed pattern.

> Right now GeoArrow coordinates are only allowed to be double

We'd loose zero-copy with GeoParquet coverings there, but again that could be added wholistically later on to include other types. Float bounds are pretty useful and the fact that you can't safely cast a double bounds into a float bounds suggests that the logic might be better suited to the geometry library (although that need not be today!).

In https://github.com/geoarrow/geoarrow-rs/pull/677 I implemented this proposed layout with arrow extension name `"geoarrow.box"`. It's serialized as a `StructArray` with 4 or 6 fields, named in coordination with the GeoParquet spec as `xmin, ymin, xmax, ymax` or `xmin, ymin, zmin, xmax, ymax, zmax`.

That PR also extends box array support to 3d coordinates.